# R project files to be ignored
# Packrat files left off github
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rdb
*.rdx
.Rproj.user

# Ignore final reports for public repo

# Ignore partial files
*$*.docx
*.swp

